<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="logFilePrefix">osmtilecache</Property>
	</Properties>
	<Appenders>
		<RollingFile name="fileLogger"
			fileName="${env:OSMTC_TEMP_DIR:-.}/logs/${logFilePrefix}.log"
			filePattern="${env:OSMTC_TEMP_DIR:-.}/logs/${logFilePrefix}-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20MB" />
			</Policies>
			<!-- Max 10 files will be created everyday -->
			<DefaultRolloverStrategy max="10">
				<Delete basePath="${env:OSMTC_TEMP_DIR:-.}/logs" maxDepth="10">
					<!-- Delete all files older than 10 days -->
					<IfLastModified age="10d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	</Appenders>
    <Loggers>
        <Logger name="com.kc1vmz.osmtilecache" level="info" additivity="false">
            <AppenderRef ref="fileLogger"/>
        </Logger>
        <Logger name="io.micronaut" level="info" additivity="false">
            <AppenderRef ref="fileLogger"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="fileLogger"/>
        </Root>
    </Loggers>
</Configuration>
